*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  align-items: top;
}

h1 {
  color: rgba(0, 0, 0, 0.15);
  font-size: 5em;
  margin: 0px;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.daily,
.kwmlGoal {
  border-radius: 5px;
  border: none;
  /* border:1px solid rgba(0,0,0,0.2); */
  width: calc(100% - 40px);
  margin: 20px;
  padding: 20px 20px 60px 20px;
  position: relative;
  background-color: white;
  min-width: 300px;
  transition: .3s ease-in-out;
}

.daily {
  position: relative
}

.daily-wrapper {
  position: relative;
  z-index: 5;
}

.kwmlGoal {
  flex: 1;
  transition: .3s ease-in-out;
  position: relative;
}

.daily:hover,
.kwmlGoal:hover {
  transition: .3s ease-in-out;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.daily h1 {
  text-align: left;
  font-size: 5em;
  line-height: 1;
  font-weight: 900;
  position: absolute;
  color: rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.daily h2 {
  font-size: 1.6em;
  font-weight: 300;
  text-align: left;
  line-height: 2;
}

.daily p {
  font-weight: 500;
  font-size: 1em;
}

.daily pre {
  font-family: 'Poppins', sans-serif !important;
  font-size: .8rem;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
}


input,
select {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: rgba(0, 0, 0, .8);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 30px;
  max-height: 50px;
  width: 100%;
  text-align: center;
}

input {
  width: calc(100% - 20px);
}

button {
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 30px;
  max-height: 50px;
  width: 100%;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.poem button {
  float: right;
}


.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: calc(100%-40px);
  bottom: 17px;
}

.footer div {
  flex: 1;
}

.kwmlGoal h1 {
  font-size: 1em;
  font-weight: 300;
  color: black;
}

.kwmlGoalDiv {
  display: inline-block;
}

.kwmlGoal p {
  border: solid 2px;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight:600;
  padding: 5px 10px;
  text-align:center;
  width:100px;
  text-transform:uppercase;
}

.kwmlGoal button,.poem button {
  float: right;
  min-height: 20px;
  max-height: 30px;
  min-width: 75px;
  max-width: 300px;
  font-size: .6em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
  width:100px;
}

.category {
  margin: 0px;
}

.King {
  border-color: #673ab7;
  color: #673ab7
}

.Lover {
  border-color: #e91e63;
  color: #e91e63;
}

.Warrior {
  border-color: #FF5722;
  color: #FF5722;
}

.Magician {
  border-color: #03A9F4;
  color: #03A9F4;
}

.King:hover {
  background-color: #673ab7;
  color: white;
}

.Lover:hover {
  background-color: #e91e63;
  color: white;
}

.Warrior:hover {
  background-color: #FF5722;
  color: white;
}

.Magician:hover {
  background-color: #03A9F4;
  color: white;
}