*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*{
  transition:.3s;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-align: left;
  background-color: rgb(233, 233, 233);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  align-items: top;
}

h1 {
  color: rgba(0, 0, 0, 0.15);
  font-size: 4em;
  letter-spacing:-3px;
  margin-top: 100px;
  text-align:center;
}

.app {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
}

.flexparent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.component {
 width:100%;
 /* max-width:500px; */
}

.createGoal {
  width:50%;
  min-width:400px;
  margin:auto;
}

.componentContent {
  display:flex;
  flex-wrap:wrap;
}

.daily,
.kwmlGoal {
  border-radius: 5px;
  border: none;
  overflow-x: scroll;
  width: calc(100% - 90px);
  max-width:500px;
  margin: 20px;
  padding: 20px 20px 60px 20px;
  position: relative;
  background-color: white;
}

.createGoal .daily {
  margin:auto;
}

.daily-wrapper {
  position: relative;
  z-index: 5;
  overflow-x: scroll;
}

.kwmlGoal {
  flex: 1;
  width: unset !important;
  min-width:200px;
  transition: .3s ease-in-out;
  position: relative;
  padding-bottom:100px;
}

.daily h1 {
  font-size: 5em;
  line-height: 1;
  font-weight: 900;
  position: absolute;
  color: rgba(0, 0, 0, 0.05);
  letter-spacing:-.5px;
  z-index: 2;
  margin:0px !important;
}

.daily h2 {
  font-size: 1.6em;
  font-weight: 300;
  text-align: left;
  line-height: 2;
}

.daily p {
  font-weight: 500;
  font-size: 1em;
}

.daily pre {
  font-family: 'Poppins', sans-serif !important;
  font-size: .8rem;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
}


input,
select {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: rgba(0, 0, 0, .2);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0px;
  padding: 10px;
  padding-left:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 30px;
  max-height: 50px;
  width: 100%;
  text-align: center;
}

input {
  width: calc(100% - 20px);
  text-align:left;
}

input::placeholder{
  color: rgba(0, 0, 0, .2);
}

.input-engaged {
  color:black
}

button {
  text-transform: uppercase;
  border-radius: 30px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.08);
  color: rgb(233, 233, 233);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 30px;
  max-height: 50px;
  width: 100%;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.daily-wrapper button {
  color:white;
}

.dailyGoalsButton {
  width:unset !important;
  margin:auto;
  border-radius:40px;
  padding: 10px 20px;
}

.poem button {
  float: right;
}


.footer {
  position: absolute;
  width: calc(100% - 40px);
  bottom: 17px;
}

.footer div {
  flex: 1;
}

.kwmlGoal h1 {
  font-size: 1.7em;
  font-weight: 800;
  letter-spacing:-1.5px;
  color: black;
  text-align:left;
  margin:0px !important;
}

.kwmlGoal input,.kwmlGoal textarea {
  font-size: 1.7em;
  letter-spacing:-1.5px;
  font-weight: 800;
  color: black;
  text-align:left;
  width:100%;
  height:auto;
  font-family:'Poppins',sans-serif;
  margin:0px;
  margin-bottom:10px;
  padding-left:0px;
  padding-bottom:5px;
  border: 0px;
  resize:none;
  border-bottom: solid 2px;
  transition:.3s;
  border-color:transparent;
  vertical-align:middle;
}

*:focus {
  outline:none;
}

.kwmlGoal h1:hover,.kwmlGoal h1:hover {
  cursor:default;
  border-color: rgba(0,0,0,0.2);
  transition:.3s;
}

.kwmlGoal h1:focus,.kwmlGoal h1:focus {
  border-color: rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.5);
  cursor:text;
  transition:.3s;
}

.kwmlGoalDiv {
  display: inline-block;
  flex:2;
}

.kwmlGoal p {
  border: solid 2px;
  border-radius: 20px;
  font-size: 10px;
  font-weight:700;
  padding: 5px 1px;
  text-align:center;
  text-transform:uppercase;
  width:100px;
}

.kwmlGoal button,.poem button {
  min-height: 20px;
  max-height: 30px;
  min-width: 75px;
  max-width: 300px;
  font-size: .6em;
  font-weight: 700;
  margin-top:10px;
  color: rgba(0, 0, 0, 0.2);
  width:107px;
}

.kwmlGoal button {
  border: none;
  background-color: rgba(0, 0, 0, 0.08);
  color:white;
}

.kwmlGoal button:hover {
  color:white;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25);
}

.poem button{
  float:right;
}

.scope {
  border:none !important;
  color:rgba(0,0,0,0.2);
  font-weight:700 !important;
  font-size:8px !important;
  margin-left:10px;
  padding:0px  !important;
  width:unset !important;
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor:default;
}


.category {
  cursor: pointer;
  margin: 0px;
}

.King {
  border-color: #673ab7;
  color: #673ab7
}

.Lover {
  border-color: #e91e63;
  color: #e91e63;
}

.Warrior {
  border-color: #FF5722;
  color: #FF5722;
}

.Magician {
  border-color: #03A9F4;
  color: #03A9F4;
}

.King:hover {
  border-color: #673ab7;
  background-color: #673ab7;
  color: white;
}

.Lover:hover {
  border-color: #e91e63;
  background-color: #e91e63;
  color: white;
}

.Warrior:hover {
  border-color: #FF5722;
  background-color: #FF5722;
  color: white;
}

.Magician:hover {
  border-color: #03A9F4;
  background-color: #03A9F4;
  color: white;
}