*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*{
  transition:.3s;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-align: left;
  background-color: #232b3a;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  align-items: top;
}

h3 {
  color:rgba(255,255,255, .15)
}
.log {
  position:relative;
  z-index:999;
}

.log button {
  cursor:pointer;
  font-size:.6em;
  padding:5px;
  border-radius:10px;
}

.profile{
  text-align:center;
}

.profile img {
  width:75px;
  height:75px;
  object-fit:cover;
  overflow:hidden;
  border-radius:100%;
}

h1 {
  color: rgba(255,255,255, 0.15);
  font-size: 4em;
  letter-spacing:-3px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align:center;
}

.authParent {
  max-width:200px;
  margin:auto;
  margin-top:50px;
  margin-bottom:50px;
  text-align:center;
}

.app {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
}

.navigation {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top:50px;
  max-width:500px;
  position:relative;
  z-index:999;
}

.navigation button {
  max-width:100px;
  min-width:10px;
  flex:1;
  background-color:transparent;
  padding:0px;
  color: rgba(255, 255, 255, 0.15);
  font-weight:500;
  cursor:pointer;
  letter-spacing:-0.5px;
  font-size:.5em;
}

.activePage {
  color: rgba(255, 255, 255, 0.35) !important;
}

.navigation button:hover {
  color: rgba(255, 255, 255, 0.35);
  background-color:transparent;
}

.sideBar {
  min-height:100vh;
  width:100vw;
  position:fixed;
  top:0;
  left:0;
}

.sideBar button {
  align-content: center;
  align-items:center;
  display:flex;
  min-height:100vh;
  position:absolute;
  top:0px;
  width:20vw;
}

.right {
  right:0px;
  background: linear-gradient(-90deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 100%); 
}

.left {
  left:0px;
  background: linear-gradient(90deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 100%); 
}

.right:hover {
  background: linear-gradient(-90deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 100%); 
}

.left:hover {
  background: linear-gradient(90deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 100%); 
}

.right:active {
  background: linear-gradient(-90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%); 
}

.left:active {
  background: linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%); 
}

.flexparent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.component {
 width:100%;
 /* max-width:500px; */
}

.createGoal {
  width:50%;
  min-width:400px;
  margin:auto;
}

.componentContent {
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.daily,
.kwmlGoal {
  border-radius: 5px;
  border: none;
  overflow-x: scroll;
  width: calc(100% - 90px);
  max-width:500px;
  margin: 10px 20px;
  padding: 20px 20px 60px 20px;
  position: relative;
  background-color: rgba(0,0,0,0.2);
}

.createGoal .daily {
  margin:auto;
}

.daily-wrapper {
  position: relative;
  z-index: 5;
  overflow-x: scroll;
}

.kwmlGoal {
  border-bottom:6px solid;
  flex: 1;
  padding-bottom:50px;
  position: relative;
  min-width:300px;
  transition: .3s ease-in-out;
  width: unset !important;
  max-width:300px;
}

.daily h1 {
  font-size: 5em;
  line-height: 1;
  font-weight: 900;
  position: absolute;
  color: white;
  letter-spacing:-.5px;
  z-index: 2;
  margin:0px !important;
}

.daily h2 {
  font-size: 1.6em;
  font-weight: 700;
  text-align: left;
  line-height: 2;
  color:rgba(255,255,255,0.95);
}

.daily h3 {
  font-weight:300;
  opacity:.4;
  color:rgba(255,255,255,0.6);
}

.poem h2 {
  margin-bottom:0px;
}

.poem h3 {
  margin-top:0px;
}

.daily p {
  font-weight: 500;
  font-size: 1em;
}

.daily pre {
  font-family: 'Poppins', sans-serif !important;
  font-size: .8rem;
  font-weight: 500;
  color:rgba(255,255,255,0.8);
}

.header {
  display: flex;
  justify-content: space-between;
}


input[type=text],
select {
  align-items: center;
  align-content: center;
  background-color: transparent;
  border: none;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  color: rgba(255, 255, 255, .1);
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 10px;
  padding-left:0px;
  justify-content: center;
  /* min-height: 30px; */
  margin-bottom:30px;
  max-height: 50px;
  /* width: 100%; */
  text-align: left;
}

input {
  text-align:left;
}

input[type=checkbox] {
  margin:0px;
}

label {
  display:block;    
  border: none!important;
  color: rgba(0,0,0,.2);
  font-weight: 700!important;
  font-size: 8px!important;
  text-transform:uppercase; 
  position: absolute;
  bottom: -10px;
  right: 0;
  text-align:right;
}

.checkboxDiv {
  position:absolute;
  top:20px;
  right:20px;
}

input::placeholder{
  color: rgba(255, 255, 255, .1);
}

.input-engaged {
  color:#000000
}

button {
  text-transform: uppercase;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255, .35);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 500;
  /* letter-spacing: 1px; */
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 30px;
  max-height: 50px;
  width: 100%;
}

button:hover {
  color: rgba(255,255,255,.5);
}

.kwmlGoal button, .daily button {
  border-radius: 30px;
}

.daily-wrapper button {
  color:white;
}

.daily-wrapper select {
  width:100%
}

.daily-wrapper input {
  width:100%;
}

.dailyGoalsButton {
  width:unset !important;
  margin:auto;
  border-radius:40px;
  padding: 10px 20px;
}

.footer {
  position: absolute;
  width: calc(100% - 40px);
  bottom: 17px;
  display:flex;
  align-items: baseline;
}

.alterFooter {
  display:flex;
}

.alterFooter:nth-child(2){
  margin-left:5px;
}

.footer form {
  flex:1;
  display:inline-block;
  margin-left:5px;
}

.kwmlGoal h1 {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing:-1.5px;
  color: white;
  text-align:left;
  margin:0px !important;
}

.kwmlGoal textarea {
  background-color:transparent;
  border: 0px;
  border-bottom: solid 2px;
  border-color:transparent;
  color: white;
  font-family:'Poppins',sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  height:52px;
  letter-spacing:-1.5px;
  line-height:1.2;
  margin:0px;
  margin-bottom:10px;
  padding-left:0px;
  padding-bottom:5px;
  resize:none;
  text-align:left;
  transition:.3s;
  vertical-align:middle;
  width:100%;
}

.kwmlGoal input {
  height: 14px;
}

*:focus {
  outline:none;
}

.kwmlGoal h1:hover,.kwmlGoal h1:hover {
  cursor:default;
  border-color: rgba(0,0,0,0.2);
  transition:.3s;
}

.kwmlGoal h1:focus,.kwmlGoal h1:focus {
  border-color: rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.5);
  cursor:text;
  transition:.3s;
}

.kwmlGoalDiv {
  display: inline-block;
  flex:2;
}

.kwmlGoal p {
  border-radius: 20px;
  font-size: 9px;
  font-weight:500;
  text-align:left;
  text-transform:uppercase;
  width:100px;
}

.kwmlGoal button,.poem button {
  min-height: 20px;
  max-height: 30px;
  min-width: 75px;
  max-width: 110px;
  font-size: 9px;
  font-weight: 500;
  margin-top:10px;
  color: rgba(255,255,255,0.35);
  width:107px;
  cursor:pointer;
}

.poem button{
  float:right;
  position:absolute;
  top:5px;
  right:0px;
  z-index:999;
}

.kwmlGoal button {
  border: none;
  /* background-color: rgba(0, 0, 0, 0.13); */
  /* color:white; */
}

.footer form button {
  padding:0px;
  min-height:0px;
  display:block;
  text-align:left;
}

.kwmlGoal button:hover {
  color:rgba(255,255,255,0.5);
  background-color:transparent;
}


.scope {
  border:none !important;
  color:rgba(255,255,255,.15);
  font-size:8px !important;
  margin-left:10px;
  padding:0px  !important;
  width:unset !important;
  position: absolute;
  bottom: -4px;
  right: 0px;
  cursor:default;
}


.category {
  cursor: pointer;
  margin: 0px;
  /* border-color:white; */
  /* color:white; */
  color: rgba(255,255,255,0.35);
}

.category:hover {
  color: rgba(255,255,255,0.5);
}

.Conscientiousness {
  border-color: #673ab7;
  box-shadow: 0px 10px 13px -12px rgb(103, 58, 183);
  /* color: #673ab7 */
}

.Extraversion {
  border-color: #03A9F4;
  box-shadow: 0px 10px 13px -12px rgb(3 169 244);
  /* color: #e91e63; */
}

.Agreeableness {
  border-color: #FF5722;
  box-shadow: 0px 10px 13px -12px rgb(255, 87, 34);
  /* color: #FF5722; */
}

.Openness {
  border-color: #e91e63;
  box-shadow: 0px 10px 13px -12px rgb(233, 30, 99);
  /* color: #03A9F4; */
}

/* .Conscientiousness:hover {
  border-color: #673ab7;
  background-color: #673ab7;
  color: white;
}

.Agreeableness:hover {
  border-color: #e91e63;
  background-color: #e91e63;
  color: white;
}

.Extraversion:hover {
  border-color: #FF5722;
  background-color: #FF5722;
  color: white;
}

.Openness:hover {
  border-color: #03A9F4;
  background-color: #03A9F4;
  color: white;
} */